/* Main container for the About Us page */
.about-page {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background: linear-gradient(to bottom, #ffffff, #f6b26b, #91c499);
  padding: 40px;
  line-height: 1.6;
}

/* Header Section Styling */
.about-header {
  background-color: #6852ff;
  color: white;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.about-header h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.about-header p {
  font-size: 1.5em;
  max-width: 800px;
  margin: auto;
}

/* General Section Styling */
.about-section {
  margin-top: 40px;
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  color: #000000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.values-section ul {
  list-style: none;
  padding-left: 0;
}

.values-section li {
  margin-bottom: 15px;
  font-size: 1.3em;
}

/* Mission Section */
.mission-section {
  background-color: #91c499;
  color: white;
}

/* Team Section */
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.team-member {
  text-align: center;
  background: #f6b26b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
}

.team-member h3 {
  margin-top: 15px;
  font-size: 1.5em;
}

.team-member p {
  color: #ffffff;
  font-size: 1.2em;
}

/* Call to Action Section */
.call-to-action {
  text-align: center;
  background-color: #6852ff;
  color: white;
}

.call-to-action p {
  margin-bottom: 20px;
  font-size: 1.4em;
}

.cta-button {
  padding: 15px 30px;
  background-color: white;
  color: #6852ff;
  border: none;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.cta-button:hover {
  background-color: #f6b26b;
  color: white;
}
