/* CalendarComponent.css */
.calendar-containerr {
  width: 100vh;
  margin: auto;
  padding: 20px;
  background-color: #f4f5f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fc-toolbarr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.fc-buttonn:hover {
  background-color: #4a42cc;
}

.fc .fc-daygrid-dayy-number {
  color: #333;
}

.fc-toolbarr-titlee {
  font-size: 1.25rem;
  font-weight: bold;
}
